# -*- mode: gitignore -*-
*.*~
*.py[oc]
*.npy
.idea/
*.xz
*.aux
*.synctex.gz
*.bbl
*.blg
*.dvi
*.t7
*.bz2
*.snm
*.nav
*.toc
latex/*/*.out
latex/*/*.log
doc/*.pdf
autoencoder/output/
input/customeraffinity.d
