# -*- mode: gitignore -*-
*.*~
*.py[oc]
.idea/
*.xz
*.aux
*.synctex.gz
*.bbl
*.blg
*.dvi
*.pdf
*.t7
*.bz2
latex/*/*.out
latex/*/*.log
doc/
autoencoder/output/
autoencoder/data/
__pycache__/
.ipynb_checkpoints